**/.vs/

**/.DS_STORE
**/node_modules
**/public/
**/*.log*
**/chrome-user-data
**/*.sublime-project
**/*.sublime-workspace
**/**/.idea
**/*.iml
**/.vscode
**/*.swp
**/*.swo

**/*.d.ts

**/firebase.ts
**/firebase.d.ts
**/firebase.js

